/Volumes/ALEX'S DATA/Projects/TopJeu/TopJeu_website/._index.html
._.git
._index.html
._styles.css
._app.js
._site.webmanifest
._favicon.ico

TopJeu_website/._*
img/banners/._Mafiacasino-desktop-screenshot.png
img/logo-casinos/._mafiacasino-logo.svg
._favicons_pack
img/banners/._brutal-banner.webp
img/banners/._captain-banner.webp
img/banners/._julius-banner.webp
img/banners/._peaches-banner.webp
img/banners/._brutal-banner-fix.webp
.gitignore
._.gitignore
.github
old_versions_backup
revert_snapshot
styles_v2.clean.css
.gitignore
styles_v5.clean.css
